.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: green;
}

.skills__list-item {
  margin: 0.5em;
}

.section__skills {
  color: green;
}
